.class-list-form-content {
  @include column-flexbox;
  white-space: nowrap;

  .class-form-content {
    margin-bottom: 16px;
  }

  .today-consult-list {
    margin: 0 0 16px 16px;
  }
}

.form-input {
  width: 200px;
  padding-left: 45px;
}

.class-table-card {
  height: 350px;

  .class-table {
    th {
      position: sticky;
      top: 0;
      cursor: default;
    }

    tbody tr {
      transition: all 150ms ease-in-out;

      &:not(.is-active):hover {
        cursor: pointer;
        background-color: $active;
      }

      &:not(:disabled):active {
        background-color: $secondary;
      }
    }
  }
}

.tag-sort {
  @include text-style(14, $text);
  font-weight: 600;
  transition: all 250ms ease-in-out;

  .fa-sort {
    font-size: 13px;
  }

  &:hover {
    color: $r-light;
  }

  &:not(:disabled):active {
    color: $red;
  }
}

@include responsive(T) {
  .class-list-form-content {
    @include flexbox(between);
    flex-direction: row;

    .today-consult-list {
      margin: 0 20px 0 0;
    }

    .class-form-content {
      @include flexbox;
      flex-wrap: wrap;
      margin: 0;
    }

    .class-search-form {
      @include flexbox;
      padding-top: 2px;
    }
  }

  .class-table-card {
    height: auto;

    .class-table {
      table-layout: fixed;

      th {
        position: static;
      }

      tr {
        .consult-text-overflow {
          display: table-cell;
          width: 100%;
        }
      }
    }
  }
}
