.consult-edit-card {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  .consult-input-box {
    white-space: nowrap;

    .consult-input-form {
      @include flexbox(start);
      margin-bottom: 41.3px;

      label:first-child {
        @include text-style(14, $bold);
        width: 50px;
        margin-right: 8px;
      }

      .form-input {
        padding: 0 15px;
      }

      .form-select {
        text-overflow: clip;
      }

      textarea {
        width: 100%;
        height: 200px;
        padding: 15px;
      }
    }

    .consult-input-btn {
      @include flexbox(between);

      .delete-b-btn {
        margin-right: 5px;
      }
    }
  }
}

.date-align {
  @include flexbox;

  .attendance-date {
    height: 35px;
    padding: 0 10px;
    border: 1px solid $select;
    border-radius: 4px;
  }
}

.consult-edit-img {
  @include flexbox;

  img {
    display: block;
    width: 500px;
    height: auto;
    overflow: hidden;
  }
}

@include responsive(T) {
  .consult-input-table {
    height: auto;
  }

  .consult-edit-card {
    .consult-input-box {
      margin: 0 auto;
      overflow: hidden;
      overflow-x: auto;

      .consult-input-form {
        label:first-child {
          margin-right: 20px;
        }

        textarea {
          height: 300px;
        }
      }

      .consult-input-btn {
        .delete-b-btn {
          margin-right: 10px;
        }
      }
    }
  }

  .consult-edit-img {
    height: 733px;

    img {
      width: auto;
      height: 500px;
    }
  }
}
