.dashboard-s-card {
  @include flexbox(between);
  height: 120px;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  h1 {
    @include text-style(14, $title);
  }

  strong {
    @include text-style(24, $strong);
    font-weight: 500;
  }

  .icon-right {
    i {
      @include inline-flexbox;
      width: 50px;
      height: 50px;
      font-size: 20px;
      color: $white;
      border-radius: 100%;
    }
  }

  .fa-user-graduate {
    background: $gradient-orange;
  }

  .fa-chalkboard-teacher {
    background: $gradient-green;
  }

  .fa-won-sign {
    background: $gradient-blue;
  }

  .fa-calendar {
    background: $gradient-red;
  }

  p {
    @include text-style(13, $text);
  }

  .dasoboard-s-item {
    @include flexbox(start);
    margin-top: 16px;

    span {
      font-size: 15px;
    }

    p:nth-child(1) {
      margin-right: 12px;
    }

    span:nth-child(2) {
      color: $green;
    }

    p:nth-child(3) {
      margin-right: 10px;
      color: $green;
    }

    span:nth-child(4) {
      color: $r-light;
    }

    p:nth-child(5) {
      margin-right: 10px;
      color: $r-light;
    }
  }
}

.dashboard-m-card {
  height: 340px;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  h3 {
    @include text-style(14, $title);
    margin-bottom: 30px;
  }

  strong {
    @include text-style(13, $strong);
    font-weight: 500;
  }
}

.graph {
  .graph-chart {
  }
}

.donuts {
  @include flexbox(evenly);

  .donut-charts {
    width: 250px;
  }
}

// @include responsive(T) {
//   .dashboard-s-card {
//   }
// }
