.login-page-background {
  height: 100%;
  background: $gradient-primary;
  background-attachment: fixed;
}

.login-header {
  position: relative;
  height: 350px;
  padding: 10px;

  &-wrapper {
    @include flexbox(between);
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;

    .login-header-left {
      .white-logo {
        a {
          display: block;
        }

        img {
          display: block;
          width: auto;
          height: 25px;
        }
      }
    }

    .login-header-right {
      .portpolio-icon-content {
        @include flexbox;
        margin: 0 0 15px 15px;

        .portpolio-icon-item {
          width: auto;
          height: 15px;
          padding: 8px;
          color: $white;

          .notion-icon {
            margin-top: 2px;
          }
        }

        .erd-icon {
          display: block;

          img {
            display: block;
            width: auto;
            height: 15px;
            margin-top: 1px;
          }
        }
      }
    }
  }

  .project-text {
    @include column-flexbox;
    flex-wrap: wrap;
    margin-top: 25px;
    color: $white;
    text-align: center;

    .welcome {
      @include text-style(20);
      margin-bottom: 15px;
      font-weight: 500;
    }

    .introduce-project {
      @include text-style(16);
    }
  }
}

.login-box {
  @include pos-center;
  width: 100%;

  .login-card {
    padding: 30px;
    background-color: $active;
    border-radius: 4px;
    box-shadow: $dropdown-shadow;

    .login-page-title {
      @include text-style(18);
    }

    .login-input-group,
    .login-page-title {
      margin-bottom: 20px;
      color: $title;
      text-align: center;
    }

    .check-wrap {
      @include flexbox(start);
      margin-bottom: 30px;

      .save-id {
        @include text-style(13);
        padding-left: 8px;
        color: $title;
      }

      .check-save-id {
        padding: 8px;
        color: $title;
      }
    }

    .btn-center {
      @include flexbox;

      button {
        @include text-style(13);
        flex-shrink: 0;
        height: 40px;
      }
    }
  }

  .forgot-page {
    @include flexbox(between);
    padding: 25px 5px 0 5px;

    .forgot-id,
    .forgot-pwd {
      @include text-style(12);
      color: $white;
      transition: all 250ms ease-in-out;

      &:hover {
        color: $select;
      }
    }
  }
}

@include responsive(T) {
  .login-header {
    &-wrapper {
      .login-header-left {
        .white-logo {
          img {
            height: 35px;
          }
        }
      }

      .login-header-right {
        .portpolio-icon-content {
          .portpolio-icon-item {
            padding: 10px;

            i {
              font-size: 20px;
            }

            .notion-icon {
              margin: 0;
              font-size: 20px;
            }

            .fa-figma {
              margin-top: 1px;
            }
          }

          .erd-icon {
            img {
              height: 20px;
              margin: 0;
            }
          }
        }
      }
    }

    .project-text {
      margin-top: 50px;

      .welcome {
        @include text-style(24);
        margin-bottom: 20px;
      }

      .introduce-project {
        @include text-style(18);
      }
    }
  }

  .login-box {
    @include pos-center;
    position: absolute;
    width: 300px;

    .login-card {
      padding: 40px 40px;

      .login-page-title {
        @include text-style(18);
      }

      .login-input-group,
      .login-page-title {
        margin-bottom: 20px;
        color: $title;
        text-align: center;
      }
    }
  }
}
