.myhome-teacher-table {
  .profile-th {
    width: 200px;
    background-color: $white;
    border: 0;

    img {
      width: 150px;
      height: auto;
    }
  }

  th {
    border: 1px solid $border;
  }
}

.hagone-img-card,
.myhome-img-card {
  @include flexbox;

  img {
    display: block;
    width: auto;
    height: 250px;
    overflow: hidden;
  }
}

.fa-plus-circle {
  @include flexbox;
  font-size: 25px;
  color: $s-dark;
  transition: all 250ms ease-in-out;

  &:hover {
    color: $title;
  }

  &:active {
    color: $text;
  }
}

@include responsive(T) {
  .hagone-img-card,
  .myhome-img-card {
    @include flexbox;

    img {
      display: block;
      width: auto;
      height: 520px;
    }
  }
}
