.score-analysis-card {
  overflow: auto;
  white-space: nowrap;

  .form-wrap {
    @include column-flexbox;
    flex-wrap: wrap;

    .checkbox-wrap {
      @include flexbox;

      .hagwon-exam,
      .school-exam,
      .mock-exam {
        @include text-style(13);
        margin: 0 25px;
        color: $bold;
        white-space: nowrap;
        border: 0;
        transition: all 250ms ease-in-out;

        &:hover {
          color: $black;
          cursor: pointer;
        }
      }
    }

    span {
      @include text-style(13);
      color: $bold;
    }

    label {
      @include flexbox;
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      border: 1px solid $border;

      i {
        font-size: 8px;
        color: $white;
      }
    }

    hr {
      width: 100%;
      margin: 16px 0;
      border: 1px solid $select;
    }

    .select-exam-wrap {
      @include flexbox;
      margin-bottom: 16px;

      .exam-type {
        margin-right: 13px;
      }

      .select-btn {
        margin-left: 13px;
      }
    }

    .select-class-wrap {
      @include flexbox(start);
      margin-bottom: 16px;

      .class-name {
        margin: 0 13px 0 0;
      }
    }

    .search-exam-wrap {
      @include flexbox;
      margin-bottom: 16px;

      .exam-name {
        margin-right: 13px;
      }

      .material-icons {
        margin: 0;
        font-size: 20px;
        color: $title;
      }
    }
  }

  .exam-registration {
    margin-bottom: 16px;
  }

  .calendar-list-select-btn {
    .calendar-btn,
    .list-btn {
      &.is-active {
        color: $white;
        background-color: $default;
      }
    }
  }
}

.score-table-card {
  height: 350px;

  th {
    position: sticky;
    top: 0;
    cursor: default;
  }

  tr {
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: $active;
    }

    &:not(:disabled):active {
      background-color: $secondary;
    }

    .custom-tag {
      @include flexbox;

      i {
        margin-right: 8px;
        font-size: 1px;
      }
    }
  }
}

@include responsive(T) {
  .score-analysis-card {
    .form-wrap {
      @include flexbox(evenly);
      flex-direction: row;
      flex-wrap: wrap;
      white-space: nowrap;

      span {
        margin: 0 10px 0 8px;
      }

      hr {
        width: 0;
        height: 20px;
      }

      .select-exam-wrap {
        margin: 0;

        .exam-type {
          margin: 0 8px 0 10px;
        }

        .select-btn {
          margin-left: 8px;
        }
      }

      .select-class-wrap {
        margin: 0;

        .class-name {
          margin: 0 8px 0 10px;
        }
      }

      .search-exam-wrap {
        margin: 0;

        .exam-name {
          margin: 0 8px 0 10px;
        }
      }
    }

    .exam-registration {
      margin: 0 10px;
    }
  }

  .score-table-card {
    display: none;
    height: auto;

    th {
      position: static;
    }
  }
}
