.storage-search-form {
  @include column-flexbox;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  .sum-student-number {
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.checkbox-wrap {
  @include flexbox;

  //sass-lint:disable-all
  input[type='radio'] + label {
    transition: all 250ms ease-in-out;
    border-radius: 10px;
    box-shadow: $non-member-shadow;
    cursor: pointer;
  }

  .checked-radio {
    background-color: $primary;
  }

  .check-discount {
    @include flexbox;
    flex-shrink: 0;
    width: 18px;
    height: 18px;

    i {
      font-size: 8px;
      color: $white;
    }
  }

  .discount {
    margin: 0 10px;
    cursor: pointer;
  }
}

@include responsive(T) {
  .storage-search-form {
    flex-direction: row;
    justify-content: space-between;

    .sum-student-number {
      margin: 0 20px 0 0;
    }

    .form-flex-row {
      @include flexbox;
    }
  }
}
