.storage-list-form-content {
  @include column-flexbox;
  white-space: nowrap;

  .sum-storage-price {
    margin: 0 0 16px 16px;
  }

  .storage-form-content {
    margin-bottom: 16px;
  }
}

.form-input {
  width: 200px;
  padding-left: 45px;
}

.storage-table-card {
  height: 350px;

  th {
    position: sticky;
    top: 0;
    cursor: default;
  }

  tr {
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: $active;
    }
  }

  .edit-remove-btn {
    @include flexbox;

    button:first-child {
      margin-right: 15px;
    }
  }
}

.tag-sort {
  @include text-style(14, $text);
  font-weight: 600;
  transition: all 250ms ease-in-out;

  .fa-sort {
    font-size: 13px;
  }

  &.is-red {
    color: $red;

    &:hover {
      color: $r-light;
    }

    &:not(:disabled):active {
      color: $red;
    }
  }

  &.is-blue {
    color: $lb-dark;

    &:hover {
      color: $light-blue;
    }

    &:not(:disabled):active {
      color: $lb-dark;
    }
  }
}

@include responsive(T) {
  .storage-list-form-content {
    @include flexbox(between);
    flex-direction: row;

    .sum-storage-price {
      margin: 0 20px 0 0;
    }

    .storage-form-content {
      @include flexbox;
      flex-wrap: wrap;
      margin: 0;
    }

    .storage-search-form {
      @include flexbox;
      padding-top: 2px;
    }
  }

  .storage-table-card {
    height: auto;

    th {
      position: static;
    }
  }
}
