.attendance-list {
  .attendance-list-table-card {
    position: relative;
    padding: 0;

    .attendance-list-table-col-1 {
      width: 10%;
    }

    .attendance-list-table-col-2 {
      width: 15%;
    }

    .attendance-list-table-col-3 {
      width: 15%;
    }

    .attendance-list-table-col-4 {
      width: 15%;
    }

    .attendance-list-table-col-5 {
      width: 15%;
    }

    .attendance-list-table-col-6 {
      width: 15%;
    }

    .attendance-list-table-col-7 {
      width: 15%;
    }

    .attendance-list-table-box {
      max-height: 300px;
      padding-top: 29px;
    }
  }

  .calendar-card {
    height: 520px;
  }

  @include responsive(T) {
    .attendance-list-table-card {
      .attendance-list-table-col-1 {
        width: 10%;
      }

      .attendance-list-table-col-2 {
        width: 30%;
      }

      .attendance-list-table-col-3 {
        width: 20%;
      }

      .attendance-list-table-col-4 {
        width: 10%;
      }

      .attendance-list-table-col-5 {
        width: 10%;
      }

      .attendance-list-table-col-6 {
        width: 10%;
      }

      .attendance-list-table-col-7 {
        width: 10%;
      }

      .attendance-list-table-box {
        max-height: 540px;
        padding-top: 40px;
      }
    }

    .calendar-card {
      height: 700px;
    }
  }

  @include responsive(D) {
    .attendance-list-table-card {
      .attendance-list-table-col-1 {
        width: 10%;
      }

      .attendance-list-table-col-2 {
        width: 30%;
      }

      .attendance-list-table-col-3 {
        width: 20%;
      }

      .attendance-list-table-col-4 {
        width: 10%;
      }

      .attendance-list-table-col-5 {
        width: 10%;
      }

      .attendance-list-table-col-6 {
        width: 10%;
      }

      .attendance-list-table-col-7 {
        width: 10%;
      }

      .attendance-list-table-box {
        max-height: 540px;
        padding-top: 40px;
      }
    }

    .calendar-card {
      height: 700px;
    }
  }
}
