.gnb-icon-button {
  @include flexbox;
  width: 48px;
  height: 32px;
  font-size: 16px;
  color: $white;
  transition: all 200ms ease;

  &:hover {
    color: $border;
  }

  &:active {
    color: $s-dark;
  }

  &.start-work {
    color: $green;

    &:active {
      color: $g-dark;
    }
  }
}
