.gnb-side-nav {
  position: fixed;
  top: 0;
  display: block;
  width: 250px;
  height: 100%;
  background-color: $white;
  box-shadow: 0 0 1rem 0 rgba($title, 0.15);

  .side-nav-header {
    height: 80px;

    .logo {
      @include flexbox;

      a {
        padding: 20px;
      }

      img {
        width: auto;
        height: 35px;
      }
    }
  }

  .side-nav-content {
    padding: 0 24px;

    .gnb-nav-list {
      @include flexbox;

      .gnb-nav-item {
        @include flexbox;
        padding: 10px 16px;

        .menu-category {
          @include flexbox;
          width: 200px;
          height: 24px;

          .menu-icon {
            @include flexbox;
            width: 32px;
            height: 24px;
            font-size: 15px;
          }

          .menu-name {
            text-align: center;
          }
        }
      }
    }
  }
}
