.search-history {
  $delete-button-size: 32px;
  position: fixed;
  top: 72px;
  padding: 8px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $dropdown-shadow;

  &-header {
    @include flexbox(between);

    .title,
    button {
      @include text-style(13, $text);
      padding: 10px;
      font-weight: 400;
    }

    button {
      &:hover {
        color: $black;
      }
    }
  }

  &-content {
    .placeholder {
      @include flexbox(start);
      @include text-style(16, $title);
      width: 100%;
      height: 44px;
      padding: 20px;
    }
  }

  &-item {
    @include flexbox;
    position: relative;
    border-radius: 4px;

    &:hover {
      background-color: $active;
    }

    .word-button {
      @include text-style(16, $bold);
      width: 100%;
      padding: 10px $delete-button-size 8px 10px;
      text-align: left;
      transition: all 200ms ease-in-out;
    }

    .delete-button {
      span {
        @include flexbox;
        position: absolute;
        top: 6px;
        right: 0;
        width: $delete-button-size;
        height: $delete-button-size;
        font-size: 16px;
        color: $title;
        transition: all 200ms ease-in-out;

        &:hover {
          color: $black;
        }
      }
    }
  }
}
