.common-table-card {
  margin-bottom: 16px;
  overflow: auto;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $dropdown-shadow;
}

.common-table {
  @include text-style(14, $bold);
  width: 100%;
  text-align: center;
  border-collapse: collapse;

  th {
    color: $text;
    background-color: $select;
  }

  th,
  td {
    padding: 12px 24px;
    word-break: break-all;
    white-space: nowrap;
    border-bottom: 1px solid $select;
  }

  tr {
    &.is-active {
      cursor: default;
      background-color: $border;

      &:hover {
        cursor: default;
        background-color: $border;
      }
    }
  }

  .include-input {
    height: 45px;
    padding: 5px;

    .form-input {
      width: 100%;
    }
  }
}

@include responsive(T) {
  .common-table-card {
    margin-bottom: 30px;
  }
}
