%avatar-base {
  display: block;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-36 {
  @extend %avatar-base;
  width: 36px;
  height: 36px;
}
