%btn-base {
  @include inline-flexbox;
  padding: 0 20px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 200ms ease-in-out;

  &:not(:disabled):hover {
    transform: translateY(-1px);
    box-shadow: $dropdown-shadow;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

// Note: Buttons Styles
.btn-outlined-gray {
  @extend %btn-base;
  color: $title;
  background-color: transparent;
  border: 1px solid $title;

  &:not(:disabled):active {
    background-color: $select;
  }
}

.btn-outlined-primary {
  @extend %btn-base;
  color: $primary;
  background-color: $white;
  border: 1px solid $p-dark;
}

.btn-outlined-blue {
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;

  &:not(:disabled):active {
    color: $white;
    background-color: $b-dark;
  }
}

.btn-outlined-green {
  @extend %btn-base;
  color: $green;
  background-color: $white;
  border: 1px solid $g-dark;
}

.btn-outlined-red {
  @extend %btn-base;
  color: $red;
  background-color: $white;
  border: 1px solid $red;

  &:not(:disabled):active {
    color: $white;
    background-color: $r-dark;
  }
}

.btn-outlined-orange {
  @extend %btn-base;
  color: $orange;
  background-color: $white;
  border: 1px solid $orange;

  &:not(:disabled):active {
    color: $white;
    background-color: $o-dark;
  }
}

.btn-outlined-violet {
  @extend %btn-base;
  color: $violet;
  background-color: $white;
  border: 1px solid $violet;

  &:not(:disabled):active {
    color: $white;
    background-color: $v-dark;
  }
}

.btn-fill-primary {
  @extend %btn-base;
  color: $white;
  background-color: $primary;
  border: 1px solid $primary;

  &:not(:disabled):active {
    background-color: $p-dark;
  }
}

.btn-fill-light-blue {
  @extend %btn-base;
  color: $white;
  background-color: $light-blue;
  border: 1px solid $light-blue;

  &:not(:disabled):active {
    background-color: $lb-dark;
    border: 1px solid $lb-dark;
  }
}

.btn-fill-active {
  @extend %btn-base;
  color: $bold;
  background-color: $active;
  border: 1px solid $select;

  &:not(:disabled):active {
    background-color: $select;
  }
}

.btn-fill-seconary {
  @extend %btn-base;
  color: $bold;
  background-color: $secondary;
  border: 1px solid $secondary;

  &:not(:disabled):active {
    background-color: $select;
  }
}

.btn-fill-select {
  @extend %btn-base;
  color: $bold;
  background-color: $select;
  border: 1px solid $select;

  &:not(:disabled):active {
    background-color: $s-dark;
  }
}

.btn-fill-red {
  @extend %btn-base;
  color: $white;
  background-color: $red;
  border: 1px solid $red;

  &:not(:disabled):active {
    background-color: $r-dark;
  }
}

.btn-fill-orange {
  @extend %btn-base;
  color: $white;
  background-color: $orange;
  border: 1px solid $orange;

  &:not(:disabled):active {
    background-color: $o-dark;
  }
}

.btn-fill-violet {
  @extend %btn-base;
  color: $white;
  background-color: $violet;
  border: 1px solid $violet;

  &:not(:disabled):active {
    background-color: $v-dark;
  }
}

.btn-fill-green {
  @extend %btn-base;
  color: $white;
  background-color: $green;
  border: 1px solid $green;

  &:not(:disabled):active {
    background-color: $g-dark;
  }
}

.btn-fill-blue {
  @extend %btn-base;
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;

  &:not(:disabled):active {
    background-color: $b-dark;
  }
}

// Note: Buttons Sizes
.btn-basic {
  @include text-style(12);
  height: 32px;
}

.btn-long {
  @include text-style(12);
  height: 32px;
  padding: 0 60px;
}

.btn-check {
  @include text-style(12);
  height: 32px;
  padding: 0 30px;
}

.btn-popup {
  @include text-style(13);
  height: 40px;
  padding: 0 60px;
  border-radius: 100px;
}

.btn-circle {
  @include text-style(13);
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

// Note: Etc Buttons
.edit-btn {
  @include flexbox;
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: $bold;
  background-color: $secondary;
  border-radius: 50%;
  transition: 200ms all ease-in-out;

  &:hover {
    background-color: $border;
  }

  &:active {
    background-color: $s-dark;
  }
}
