%tag-base {
  // 공통 스타일
  @include inline-flexbox;
  @include text-style(12);
  height: 20px;
  padding: 0 6px;
  font-weight: 500;
  border-radius: 4px;
}

.tag-default {
  @extend %tag-base;
  color: $white;
  background-color: $default;
}

.tag-primary {
  @extend %tag-base;
  color: $white;
  background-color: $primary;
}

.tag-p-dark {
  @extend %tag-base;
  color: $white;
  background-color: $p-dark;
}

.tag-light-blue {
  @extend %tag-base;
  color: $white;
  background-color: $light-blue;
}

.tag-lb-dark {
  @extend %tag-base;
  color: $white;
  background-color: $lb-dark;
}

.tag-red {
  @extend %tag-base;
  color: $white;
  background-color: $red;
}

.tag-green {
  @extend %tag-base;
  color: $white;
  background-color: $green;
}

.tag-blue {
  @extend %tag-base;
  color: $white;
  background-color: $blue;
}

.tag-b-dark {
  @extend %tag-base;
  color: $white;
  background-color: $b-dark;
}

.tag-orange {
  @extend %tag-base;
  color: $white;
  background-color: $orange;
}

.tag-violet {
  @extend %tag-base;
  color: $white;
  background-color: $violet;
}

.tag-gray {
  @extend %tag-base;
  color: $title;
  background-color: $select;
}
