.common-background {
  background: linear-gradient(
    $primary 0%,
    $primary 32%,
    $active 32%,
    $active 100%
  );
  background-attachment: fixed;
  transition: all 150ms ease-in-out;

  .common-card {
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: $dropdown-shadow;
  }
}

@include responsive(T) {
  .common-background {
    margin-left: 0;

    &.is-active {
      margin-left: 250px;
    }

    .common-card {
      margin-bottom: 30px;
    }
  }
}

@include responsive(D) {
  .common-background {
    margin-left: 0;

    &.is-active {
      margin-left: 250px;
    }

    .common-card {
      margin-bottom: 30px;
    }
  }
}
