.global-header {
  position: sticky;
  top: 0;
  z-index: $global-header-level;
  background-color: $primary;
  border-bottom: 1px solid $border;
  transition: all 150ms ease-in-out;

  &-wrapper {
    @include flexbox(between);
    padding: 16px 0;
  }

  &-right {
    @include flexbox;

    .button-group {
      @include flexbox(end);
    }

    .my-menu-button {
      @include flexbox;
      margin-left: 6px;
    }
  }

  &-search {
    @include flexbox;
  }
}

@include responsive(T) {
  .global-header {
    margin-left: 0;

    &.is-active {
      margin-left: 250px;

      .input-group {
        :not(:disabled):focus {
          width: 220px;
        }
      }

      .search-history {
        width: 220px;
      }
    }
  }

  .global-header-left {
    @include flexbox;

    .input-group {
      margin-left: 24px;
    }
  }

  .global-header-search {
    .search-history {
      width: 260px;
      margin-left: 23px;
    }
  }
}

@include responsive(D) {
  .global-header {
    margin-left: 0;

    &.is-active {
      margin-left: 250px;

      .input-group {
        :not(:disabled):focus {
          width: 260px;
        }
      }
    }

    .global-header-search {
      .search-history {
        width: 260px;
      }
    }
  }
}
