.gnb {
  background-color: $primary;
  border-bottom: 1px solid $select;
  transition: all 150ms ease-in-out;

  &-wrapper {
    @include flexbox(between);
    padding: 16px 0;
  }

  &-right {
    @include flexbox;

    .button-group {
      @include flexbox(end);
    }

    .my-menu-button {
      @include flexbox;
      margin-left: 6px;
    }
  }

  &-search {
    @include flexbox;
  }
}

@include responsive(T) {
  .gnb {
    margin-left: 0;

    &.is-active {
      margin-left: 250px;
    }
  }

  .gnb-left {
    @include flexbox;

    .input-group {
      margin-left: 24px;
    }
  }

  .gnb-search {
    .search-history {
      width: 260px;
      margin-left: 23px;
    }
  }
}

@include responsive(D) {
  .gnb {
    margin-left: 0;

    &.is-active {
      margin-left: 250px;
    }

    .gnb-search {
      .search-history {
        width: 260px;
      }
    }
  }
}
