.gnb {
  background-color: $primary;
  border-bottom: 1px solid $select;

  &-wrapper {
    @include flexbox(between);
    padding: 16px 0;
  }

  &-left {
    .gnb-icon-button.is-menu {
      width: 24px;
    }
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    .gnb-avatar-button {
      @include flexbox;
      margin-left: 12px;
    }
  }

  @include responsive(T) {
    &-left {
      @include flexbox;

      .input-group {
        margin-left: 24px;
      }
    }
  }

  @include responsive(D) {
    .user-name {
      @include text-style(14, $white);
      margin-left: 8px;
      transition: all 200ms ease;

      &:hover {
        color: $border;
      }

      &:active {
        color: $s-dark;
      }
    }
  }
}
