.gnb {
  background-color: $primary;
  border-bottom: 1px solid $select;
  transition: all 150ms ease-in-out;

  &-wrapper {
    @include flexbox(between);
    padding: 16px 0;
  }

  &-left {
    .gnb-icon-button.is-menu {
      width: 24px;
    }
  }

  &-right {
    @include flexbox;

    .button-group {
      @include flexbox(end);
    }

    .my-menu-button {
      @include flexbox;
      margin-left: 6px;
    }
  }

  @include responsive(T) {
    &-left {
      @include flexbox;

      .input-group {
        margin-left: 24px;
      }
    }
  }
}
@include responsive(D) {
  .gnb {
    margin-left: 250px;
  }
}
