.sidebar {
  position: fixed;
  top: 0;
  display: block;
  width: 250px;
  height: 100%;
  background-color: $white;
  box-shadow: 0 0 1rem 0 rgba($title, 0.15);

  .sidebar-header {
    height: 80px;

    .logo {
      @include flexbox;

      a {
        padding: 20px;
      }

      img {
        width: auto;
        height: 35px;
      }
    }
  }
}
