$side-gnb-width: 250px;

.side-gnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $side-gnb-header-level;
  width: $side-gnb-width;
  height: 100vh;
  padding: 0 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $white;
  transform: translate3d(-#{$side-gnb-width}, 0, 0);
  box-shadow: 0 0 1rem 0 rgba($title, 0.15);
  transition: all 300ms ease-in-out;
  // sass-lint:disable-all
  overscroll-behavior: contain;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    @include flexbox;
    position: sticky;
    top: 0;
    left: 20px;
    width: 250px;
    height: 70px;
    z-index: $side-gnb-header-level;
    background-color: $white;

    .logo {
      a {
        display: block;
        padding: 20px;
        margin-right: 20px;
      }

      img {
        display: block;
        width: auto;
        height: 35px;
      }
    }
  }
}

// sass-lint:disable-all
::-webkit-scrollbar {
  display: none;
}
