.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  display: block;
  width: 250px;
  height: 100vh;
  padding: 0 10px;
  overflow-y: auto;
  background-color: $white;
  box-shadow: 0 0 1rem 0 rgba($title, 0.15);
  // sass-lint:disable-all
  overscroll-behavior: contain;

  &-header {
    .logo {
      @include flexbox;

      a {
        display: block;
        padding: 20px;
      }

      img {
        display: block;
        width: auto;
        height: 35px;
      }
    }
  }
}

// sass-lint:disable-all
::-webkit-scrollbar {
  display: none;
}
