.sidebar {
  position: fixed;
  top: 0;
  display: block;
  width: 250px;
  height: 100%;
  padding: 0 10px;
  background-color: $white;
  box-shadow: 0 0 1rem 0 rgba($title, 0.15);

  &-header {
    .logo {
      @include flexbox;

      a {
        display: block;
        padding: 20px;
      }

      img {
        display: block;
        width: auto;
        height: 35px;
      }
    }
  }
}
