$dropdown-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
$popup-shadow: 0 4px 20px rgba(63, 65, 80, 0.3);
$popup-reversed-shadow: 0 -4px 20px rgba(63, 65, 80, 0.3);
$non-member-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 1px 0 rgba(0, 0, 0, 0.02);
