$white: #fff;
$active: #f6f9fc;
$select: #e9ecef;
$s-dark: #b7babd;
$border: #dee2e6;
$title: #8898aa;
$text: #525f7f;
$strong: #32325d;
$bold: #212529;
$black: #000;
$default: #172b4d;
$primary: #5e72e4;
$p-dark: #1b47b1;
$secondary: #f4f5f7;
$blue: #11cdef;
$b-dark: #009cbc;
$green: #2dce89;
$g-dark: #009c5b;
$red: #f5365c;
$r-dark: #b03;
$yellow: #ffd600;
$orange: #fb6340;
$o-dark: #c12f15;
$violet: #825ee4;
$v-dark: #4d32b1;
$gradient-primary: linear-gradient(87deg, #5e72e4 0, #825ee4 100%);
