$white: #fff;
$active: #f6f9fc;
$select: #e9ecef;
$s-dark: #b7babd;
$border: #dee2e6;
$title: #8898aa;
$text: #525f7f;
$strong: #32325d;
$bold: #212529;
$black: #000;
$default: #172b4d;
$primary: #5e72e4;
$p-dark: #1b47b1;
$secondary: #f4f5f7;
$light-blue: #39f;
$lb-dark: #006ccb;
$blue: #11cdef;
$b-dark: #00bee4;
$green: #2dce89;
$g-dark: #009c5b;
$red: #f5365c;
$r-dark: #b03;
$yellow: #ffd600;
$y-dark: #c7a500;
$orange: #fb8b40;
$o-dark: #db6810;
$violet: #825ee4;
$v-dark: #4d32b1;
$gradient-primary: conic-gradient(
  from -66.7deg at 44.82% 53.06%,
  #5e72e4 -25deg,
  #825ee4 153.86deg,
  #172b4d 154deg,
  #172b4d 334deg,
  #5e72e4 334.2deg,
  #825ee4 516.3deg
);
