$white: #fff;
$category-icon: rgba(255, 255, 255, 0.8);
$category-name: rgba(255, 255, 255, 0.6);
$background: #e9ebef;
$input: #f7f7f7;
$border: #d1d3e2;
$dark: #858796;
$primary: #3a3b45;
$black: #000;
$blue: #4e73df;
$blue-gradient: linear-gradient(
  360deg,
  rgba(0, 48, 189, 0.68) -9.95%,
  #5373db 59.51%,
  rgba(0, 48, 189, 0.45) 120.3%
);
