$font-main: 'Noto Sans KR', sans-serif;
$font-logo: 'Nunito', sans-serif;

$font-size-18: 18px;
$line-height-18: 25px;
$letter-spacing-18: 0;

$font-size-21: 21px;
$line-height-21: 29px;
$letter-spacing-21: 0;
