@import './constants/colors';
@import './constants/typography';

@import './base/fonts';
@import './base/nomalize';
@import './base/reset';

@import './layouts/grids';

.header {
  width: 1190px;
  height: 77px;
  background-color: #fff;
}

.ic-first-1 {
  position: absolute;
  margin: 30px;
  font-size: 30px;
  color: $blue;
}
