@import './base/fonts';
@import './base/nomalize';
@import './base/reset';

.header {
  width: 1190px;
  height: 77px;
  background-color: #fff;
}

.ic-first-1 {
  position: absolute;
  margin: 30px;
  font-size: 30px;
  color: #4e73df;
}
